#news__block{
  position: relative;
  .restangle{
    width: 1520px;
    height: 9px;
    margin: 0 auto;
    margin-top: 14px;
    background:#F5F5F5;
  }
  
  .news__block_card{
    margin-top: 42px;
    width: 285px;
    .card_date{
      width: 106px;
      height: 22px;
      background: #0C1A2A;
      border-radius: 4px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px 20px;
    }
    
    .change_text{
      font-size: 16px;
      line-height: 19px;
      text-decoration-line: underline;
      color: #005BB9;
      margin-top: 15px;
    }
    .card__text{
      margin-top: 20px;
    }
  }
}
.news__block_cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}