
// Import files
@import '_vars';
@import '_fonts';
@import '_header';
@import '_banner';
@import '_card_item';
@import '_card-group';
@import '_news-block';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}

body{
    max-width: $mw;
    font-family: 'Roboto', sans-serif;  
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: $cw;
    margin: 0 auto;
}
