@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1354px;
  margin: 0 auto;
}

main {
  max-width: 100%;
  background-color: #0F2438;
  height: 36px;
}

main .main__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .location-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main__lists__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main__lists__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main__lists__item {
  color: #fff;
  margin-right: 30px;
  padding-top: 5px;
  font-size: 14px;
  font-weight: 500;
}

main .main__lists__item .select__lists {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.navbar {
  max-width: 100%;
  background: #FFFFFF;
  height: 195px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.navbar .navbar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar__item .logo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navbar__item .logo__text .logo__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #0F2438;
  display: block;
}

.navbar .navbar__item .logo__text .logo__subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #0F2438;
}

.navbar .navbar__item .work__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
}

.navbar .navbar__item .work__time .clock__logo {
  display: inline;
}

.navbar .navbar__item .work__time .work__time__title {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-left: 10px;
  color: #0F2438;
}

.navbar .navbar__item .work__time .work__time__subtitle {
  text-align: right;
  display: block;
  margin-left: 10px;
}

.navbar .navbar__item .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: px;
}

.navbar .navbar__item .tel__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.navbar .navbar__item .tel__number .btn__tel__number {
  background-color: transparent;
  padding-right: 0;
  border: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #0F2438;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */